@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 55, 38);
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
    color: #fff;
}

.container {
    background-color: rgb(254, 195, 40);
    height: 200px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    transform: translateX(400%);
    transition: transform 0.8s ease;
    font-size: 35px;
}

.container:nth-last-of-type(even) {
    transform: translateX(-400%);
}

.container.show {
    transform: translateX(0);
}